# =========================
# Python
# =========================
backend/venv/
backend/__pycache__/
*.pyc

# =========================
# Environment Variables
# =========================
backend/.env
.env

# =========================
# Node.js
# =========================
node_modules/
frontend/node_modules/
bharat-one-pulse/node_modules/

# =========================
# Build
# =========================
dist/
build/

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/